%footer
  .container
    .row
      .col-md-3.col-sm-6.col-xs-12.width-set-50
        .footer-details
          %h4 Get in touch
          %ul.list-unstyled.footer-contact-list
            %li
              %i.fa.fa-map-marker.fa-lg
              %p 701 Old York Drive Richmond USA.
            %li
              %i.fa.fa-phone.fa-lg
              %p
                %a{href: "tel:+1-202-555-0100"} +1-202-555-0100
            %li
              %i.fa.fa-envelope-o.fa-lg
              %p
                %a{href: "mailto:demo@info.com"} demo@info.com
          .footer-social-icon
            %a{href: "#"}
              %i.fa.fa-facebook
            %a{href: "#"}
              %i.fa.fa-twitter
            %a{href: "#"}
              %i.fa.fa-instagram
            %a{href: "#"}
              %i.fa.fa-google-plus
            %a{href: "#"}
              %i.fa.fa-youtube-play
          #subscribe.input-group
            %input.form-control.subscribe-box{name: "subscribe", placeholder: "EMAIL ID", type: "text", value: ""}/
            %span.input-group-btn
              %button.btn.subscribe-button{type: "button"}
                %i.fa.fa-paper-plane.fa-lg
      .col-md-3.col-sm-6.col-xs-12.width-50.width-set-50
        .footer-details
          %h4 explore
          %ul.list-unstyled.footer-links
            %li.active
              %a Home
            %li
              %a{href: "about.html"} About
            %li
              %a{href: "rooms.html"} Rooms
            %li
              %a{href: "gallery.html"} Gallery
            %li
              %a{href: "#"} Dinning
            %li
              %a{href: "news.html"} News
            %li
              %a{href: "contact.html"} Contact
      .col-md-6.col-sm-12.col-xs-12
        .footer-details
          %h4 Now On Instagram
          .row
            .instagram-images
              #instafeed
    .copyright
      © 2017 All right reserved. Designed by
      %a{href: "http://www.themevault.net/", target: "_blank"} ThemeVault.
/ back to top-
%a#back-to-top.scrollTop.back-to-top{href: "javascript:void(0);", style: "display: none;"}
  %span
    %i.fa.fa-angle-up.fa-lg{"aria-hidden" => "true"}
  %span Top